[Unit]
Description=fast api application
After=network.target

[Service]
User=shubham
Group=fastapi
WorkingDirectory=/home/shubham/app/src/
Environment="PATH=/home/shubham/app/venv/bin"
EnvironmentFile=/home/shubham/.env
ExecStart=/home/shubham/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target